/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/barlow-semi-condensed-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-semi-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/barlow-semi-condensed-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --scissors-gradient: hsl(40, 84%, 53%), hsl(39, 89%, 49%);
  --paper-gradient: hsl(230, 89%, 65%), hsl(230, 89%, 62%);
  --rock-gradient: hsl(349, 70%, 56%), hsl(349, 71%, 52%);
  --icon-gradient: hsl(0, 0%, 85%), hsl(0, 0%, 92%);
  --radial-gradient: circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  --paper-border: hsl(229, 66%, 45%);
  --scissors-border: hsl(28, 77%, 44%);
  --rock-border: hsl(347, 77%, 35%);
  --icon-border: hsl(228, 22%, 77%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --rules-outline: hsl(227, 17%, 63%);
  --white: hsl(0, 0%, 95%);
  --blue: hsl(223, 48%, 16%);
  --green: hsl(120, 64%, 52%);
  --red: hsl(0, 64%, 52%);
  --gray: hsl(0, 0%, 45%);
  --transparent-blue: hsla(214, 47%, 23%, 0.418);
  --overlay: hsla(0, 0%, 0%, 0.149);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  min-height: 100vh;
  padding: 2rem 0;
  background: radial-gradient(var(--radial-gradient));
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

button {
  font-family: "Barlow Semi Condensed", sans-serif;
  cursor: pointer;
}
